body
{
    background-color: var(--wt);
}
:root
{
    --b: #131313;
    --bg:#f54114;
    --wt: #ffffff;
    --inkwt:#f7f8fa;
    --txt-colr:#768492;
    --bg-gray: #f7f8fa;
}
.my-text
{
    color: var(--bg) !important;
}              
.clr-blk
{
    color: var(--b);
}
.clr-grey
{
    color: var(--txt-colr) !important;   
}
.bg-gray
{
    background-color: var(--bg-gray) !important;   
}
.clr-wht
{
    color: var(--wt);
}
.my-bg
{
    background-color: var(--bg);
}
.bdr-nul
{
   border: none;
}
.bck-clr-inkwht
{
   background-color: var(--inkwt);
}
.carousel-item{
  position: relative;
}
.form-select:focus {
  border: 1px solid var(--bg) !important;
  outline: 0;
  box-shadow: none !important;
}
.carousel-caption{
  position: absolute;
  top: 30%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus {
  color: white !important;
  background-color: var(--bg) !important;
  font-weight: bold !important;
  border-color: #dee2e6 #dee2e6 #fff;
}

     /* NAVBAR BEGINS */
     .slide-image
     {
         height: 80vh !important;
         width:100%;
     }  
     .slide-image1
     {
      background:linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.842)) ,url("./images/bg/SLIDE_04.jpg") fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
     }  
     .slide-image2
     {
      background:linear-gradient(rgba(0, 0, 0, 0.705),rgba(0,0,0,0.882)) ,url("./images/bg/SLIDE_05.jpg") fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
     }  
     .slide-image3
     {
      background:linear-gradient(rgba(0, 0, 0, 0.705),rgba(0,0,0,0.882)) ,url("./images/bg/SLIDE_02.jpg") fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
     }  
    
nav{
    background-color: var(--inkwt);
}     
.nav-icon
{
    background-color: var(--txt-colr);
}
.nav-text 
{
    color: var(--bg);
}
.nav-text:hover
{
    color: var(--bg);
}
.nav-pag
{
    color: var(--b);
}
.nav-pag:hover
{
    letter-spacing: .1px;
    transition: all .2s ease-in-out;
    color: var(--bg);
}
.nav-but
{
    border: 1px solid var(--bg);
    background-color: var(--bg);
    color: var(--wt);
}
.nav-but:hover
{
   background-color: var(--b);
}
               /* SEARCH MODEL */
.modl-slet
{
    background-color: var(--wt);
    border-radius: 2px 2px 2px 2px;
    border: 7px solid #f7f8fa;
}
.crt-srh-but
{
    background-color: var(--bg);
    color: var(--wt);
    border: none;
}
.crt-srh-but:hover
{
     cursor: pointer;
     color: var(--wt);
}
.srh-modl-but
{
    background-color: var(--inkwt);
    color: var(--b);
    border: 1px solid #f7f8fa;
}
.srh-selt
{
    border: 2px solid rgb(240, 240, 240);
}               
.srh-selt:hover
{
    border: 1px solid var(--bg);
}
.srh-butt
{
    background-color: var(--bg);
    color: var(--wt);
    border: 1px solid var(--bg);
}
.srh-butt:hover
{
    background-color: var(--b);
    transition: all .5s ease-in-out;
}
              /* SELECT BRAND */

.brand-selt
{
    background-color: var(--inkwt);
}
.Ftrd-sld
{
    width: 100%;
    height: 500px;
}
              /* VISIT STORE */
.vst-cont
{

    background-color: var(--inkwt);
}
.stor-but:hover
{
    color: var(--wt);
    background-color: var(--b);
    transition: all .5s ease-in-out;
    letter-spacing: 1px;
}
                /* ABOUT US */
.abt-but:hover
{
    color: var(--wt);
    background-color: var(--b);
    transition: all .5s ease-in-out;
}              

.bg-back
{

    background-image: url();
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
                 /* FOOTER */
input
{
      border: none;

}
input[type="text"]::-webkit-input-placeholder
{
    color: var(--bg);
}
/* .auto
{

    background-image: url(./images/bg-imge2.avif);
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
.searchform .form-control {
    width: calc(100% - 50px);
    border: none;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 14px;
}


.ftco-navbar-light {
    background: #252525 !important;
    z-index: 3;
    padding: 0; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light {
        background: rgb(16, 16, 16) !important;
        position: relative;
        top: 0;
        padding: 0px 15px; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 11px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      opacity: 1 !important; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--bg) !important;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        @media (prefers-reduced-motion: reduce) {
          .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: var(--bg) !important; }
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
          width: 100%; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
          padding-left: 0;
          padding-right: 0;
          padding-top: .7rem;
          padding-bottom: .7rem;
          color: rgba(255, 255, 255, 0.7); }
          .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
            color: #fff; } }
      @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
      border: none;
      background: #fff;
      -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      border-radius: 4px; }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        font-size: 12px;
        color: #000; }
        .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
          background: var(--bg) !important;
          color: #fff; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
          display: block !important;
          background: #000; }
          .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
            color: rgba(255, 255, 255, 0.8); } }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      color: #fff;
      background: var(--bg) !important;
      border-radius: 0px; }
      @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          padding-left: 15px;
          padding-right: 15px; } }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          color: #fff;
          background: var(--bg) !important;
          border-radius: 4px; } }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: var(--bg) !important; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.active > a {
          color: #fff; } }
    .ftco-navbar-light .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
      .ftco-navbar-light .navbar-toggler:focus {
        outline: none !important; }
  
  .navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px; }
    .navbar-brand span {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.3); }
    .navbar-brand:hover, .navbar-brand:focus {
      color: #000; }
  
  .social-media {
    display: inline-block; }
    @media (max-width: 991.98px) {
      .social-media {
        margin: 0 auto; } }
    @media (max-width: 767.98px) {
      .social-media {
        margin-bottom: 20px; } }
    .social-media p a {
      border: 1px solid #e6e6e6;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 4px; }
      .social-media p a span {
        color: #4d4d4d; }
      .social-media p a:hover {
        background: var(--bg) !important;
        border-color: var(--bg) !important; }
        .social-media p a:hover span {
          color: #fff; }
  
  .searchform {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 40px; }
    @media (min-width: 992px) {
      .searchform {
        width: 300px; } }
    .searchform .form-control {
      width: calc(100% - 50px);
      border: none;
      background: #fff !important;
      color: rgba(0, 0, 0, 0.7) !important;
      font-size: 14px; }
      .searchform .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7) !important; }
      .searchform .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7) !important; }
      .searchform .form-control:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(0, 0, 0, 0.7) !important; }
      .searchform .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7) !important; }
    .searchform .search {
      width: 50px;
      height: 50px;
      background: var(--bg)!important; }
      .searchform .search span {
        font-size: 16px;
        color: #fff; }
  
  .form-control {
    height: 50px !important;
    background: #fff !important;
    color: #000 !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control:focus, .form-control:active {
      border-color: #000; }
  
      .btn-check:focus+.btn, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
    }
    .btn-close{
      filter: invert(100%);
    }
    .p-card{
transition: all 0.5s ease;
    }
    .p-card:hover{
      transform: translateY(-5px);
    }
    .p-card:hover .p-img{
transition: all 0.5s ease;
      transform: scale(1.01);
      filter: brightness(110%);
    }
    .p-card:hover h1{
      color: var(--bg) !important;
    }
    .fw-mbold{
      font-weight: 600 !important;
    }